
<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo"><i class="material-icons right">spa</i>HOME</a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="produtos"  >Meus Produtos <i class="material-icons right">shop</i> </a></li>
      <li><a>Meu Clientes <i class="material-icons right">person</i> </a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a >one</a></li>
            <li><a >two</a></li>
            <li class="divider"></li>
            <li><a>three</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <router-outlet></router-outlet>
  
</div>
